
<div class="main main-raised">
    <h2 class="title">{{ rotulos.title }}</h2>
    <div class="container">
        <div class="section text-center">
            <h2 class="title">Testing chat system</h2>
            <div class="card-body">
                <div class="card-body">
                    <span class="label label-info">Writing your message</span>
                    <input type="text" id="chatBox">
                </div>

                <div class="card-body" id="messageLogs">
                    
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>